[DETECTOR]
NAME    LeadGlass
READOUT ADC
NCHANNELS 2

[ADC]
NADC  2
ID    14 21

#Format of the next lines: ADC$ID - list of channels (-1: channel not used)
ADC14 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1
ADC21 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  2

[RECO]

PedestalSamples    100
SignalSamplesStart 100
SignalSamplesEnd   450

LEDSamplesStart 500
LEDSamplesEnd   850

ChargeToNPoTs 0.239

BunchLengthThreshold 50.
