[RECOALGORITHMS]
ECal    1
SAC     0
ETag    0
PVeto	0
EVeto   0
HEPVeto 0
TPix    0
Target  0
LeadGlass 1
MM 1

[RECOOutput]
ECal    1
SAC     0
ETag    0
PVeto	0
EVeto   0
HEPVeto 0
TPix    0
Target  0
LeadGlass 1
MM 1

[RUNNINGMODE]
Pedestals   0
Reconstruct 1
#Call the Analysis method in the reconstructions for histogramming
Monitor     0
#------------------
Cosmics     0
Debug       0

[RECOCONFIG]
ECal      config/2025/ECal_Calib10.cfg
SAC       config/2025/SAC.cfg
ETag      config/2025/ETag.cfg
PVeto	  config/2025/PVeto.cfg
EVeto     config/2025/EVeto.cfg
HEPVeto   config/2025/HEPVeto.cfg
TPix      config/2025/TPix.cfg
Target    config/2025/Target.cfg
LeadGlass config/2025/LeadGlass.cfg
MM config/2025/MM.cfg
