[DETECTOR]
NAME    LeadGlass
READOUT ADC
NCHANNELS 1

[ADC]
NADC  1
ID    14

#Format of the next lines: ADC$ID - list of channels (-1: channel not used)
ADC14 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1

[RECO]
BeamOutputRate    200
OffBeamOutputRate   0
CosmicsOutputRate   0
RandomOutputRate    0

PedestalSamples    100
SignalSamplesStart 100
SignalSamplesEnd   600

# Set to 0.79256*E(GeV)
# 300MeV
#ChargeToNPoTs 0.23777
# 295 MeV
ChargeToNPoTs 0.2338
# 292.7MeV
#ChargeToNPoTs 0.23198
# 290MeV
#ChargeToNPoTs 0.22984
# 289MeV
#ChargeToNPoTs 0.22905
# 285MeV
#ChargeToNPoTs 0.22588
#281.5MeV
#ChargeToNPoTs 0.223105
# 211MeV
#ChargeToNPoTs 0.16723

NPoTsRangeMin 2500.
NPoTsRangeMax 3500.

# 1 stream over 5
StreamsFactor 5.

BunchLengthThreshold 50.
BunchLengthRangeMin 200.
BunchLengthRangeMax 300.
